#osbitools div.com-osbitools-data_grid-data_tables div.title {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 5px;
  white-space: normal;
}

#osbitools div.com-osbitools-data_grid-data_tables table.display {
  color: #333;
}

#osbitools div.com-osbitools-data_grid-data_tables>div.body {
  font-size: 11px;
}

#osbitools .prop_win table.wwg-prop-wrapper input.excl-columns {
  text-transform: uppercase;
}

#osbitools table.dataTable.display tbody tr td {
  text-align: center;
}
